<div class="row">
  <div class="col-md-6">
    <h1>How to use</h1>

    <h3>Finding a domain</h3>

    <p>
      Go to the <%= link_to('Domains', domains_path) %> page and search through the alphabetized list to find a domain
      with stats in our database.
    </p>

    <p><strong>OR</strong></p>

    <p>
      Enter a domain name into the search box on the top of every page.
    </p>

    <h3>Updating the stats</h3>

    <p>Historical data is only saved when a user requests an update. Updates can be requested by hitting the update
      button on a domain's page.</p>
  </div>
  <div class="col-md-6">
    <h1>About</h1>

    <p>
      <%= link_to('Alexa.com', 'http://www.alexa.com', target: '_blank') %> is a wonderful tool for webmasters to get
      an idea about how their traffic compares to other websites on the web. Popular websites feature a historical graph
      displaying the fluctuating traffic ranks during the past year.
    </p>

    <p>
      This project provides a way for users to keep track of their favorite websites' traffic ranks over the months and
      years, no matter how popular the website is.
    </p>

    <p>
      This was created as a submission
      for <%= link_to('Week 3 of Code Prompts', 'http://www.reddit.com/r/codeprompts/comments/383ik7/week_3_create_an_app_that_stores_historical_alexa/', target: '_blank') %>
      .
    </p>

    <p>
      The source code is available
      on <%= link_to('GitHub', 'https://github.com/Kyle-Dornblaser/Historical-Alexa', target: '_blank') %>.
    </p>

  </div>
</div>