<%= form_tag(domains_path, method: 'post', class: 'form-horizontal') do %>
  <div class="input-group">
    <%= text_field_tag 'domain[name]', '', class: 'form-control', placeholder: 'e.g. google.com' %>
    <span class="input-group-btn"> <%= submit_tag 'Search', class: 'btn btn-primary' %></span>
  </div>
<% end %>
