<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-heading">Domains</div>
  <div class="list-group">
    <% @domains.each do |domain| %>
      <%= link_to domain.name, domain, class: 'list-group-item' %>
    <% end %>
  </div>
</div>