<h1><%= @domain.name %></h1>
<h2>Traffic Rank: <%= @domain.last_rank.traffic_rank %></h2>
<table>
<% @domain.ranks.each do |rank| %>
<tr>
  <td><%= rank.traffic_rank %></td>
  <td><%= time_ago_in_words(rank.created_at) %></td>
</tr>
<% end %>
</table>
