html.turbolinks-progress-bar::before {
  background-color: red !important;
  height: 5px !important;
}

.theme-color {
  color: #772953;
}

.chart canvas {
  max-width: 100% !important;
  height: auto !important;
}